.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button {
  background-color: blueviolet;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
